body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: #252525;
    color: #e4e3e3;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: auto;
}

.logo-container {
    text-align: center;
    margin-bottom: 20px;
}

.article-selector {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
}

form {
    margin-bottom: 20px;
}

input[type=url] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
}

button {
    margin-top: 10px;
    padding: 8px 16px;
    font-size: 16px;
}

img {
    margin: 16px 0;
}

.error {
    color: red;
}